@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.filter-panel-entering {
    animation: slideInRight 0.3s forwards;
}

.filter-panel-exiting {
    animation: slideOutRight 0.3s forwards;
}
